@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/fontt1.ttf);
}

@font-face {
  font-family: font2;
  src: url(./assets/fonts/font2.ttf);
}

@font-face {
  font-family: font3;
  src: url(./assets/fonts/font3.ttf);
}

@font-face {
  font-family: font4;
  src: url(./assets/fonts/font4.ttf);
}

/* used in Contact.jsx */

input:focus-visible {
  outline: 1px solid #d2654a;
  outline-offset: 1px;
}

textarea:focus-visible {
  outline: 1px solid #d2654a;
  outline-offset: 1px;
}

text-muted-foreground {
  color: #b3aa98;
}
